header {
    color: snow;
    text-align: center;
    font-size: 35px;
    padding: 2.5rem;
    background-color: palevioletred;
    grid-column: span 12;
}
/******* Nav Layout *******/
.nav {
    list-style: none;
}

/******* Layout *******/
.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: min(95%)
    margin: auto;
}
