header {
    color: snow;
    text-align: center;
    font-size: 50px;
    padding: 3rem;
    background-color: palevioletred;
}
/******* Layout *******/
.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
}
