header {
    color: snow;
    text-align: center;
    font-size: 35px;
    padding: 2.5rem;
    background-color: lightseagreen;
    grid-column: span 12;
}
/******* Nav Layout *******/

ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
}

/******* Layout *******/
.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: min(95%)
    margin: auto;
}
